.featured {
  padding: 4rem 0;
  background-color: var(--tan-lighter);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.featured h2 {
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  color: var(--neutral-90);
  margin-bottom: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.header h3 {
  font-weight: var(--font-weight-regular);

  color: var(--color-text-primary);
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.content {
  display: flex;
  border-top: 1px solid var(--tan-darker);
}

.imageContainer {
  width: 33%;
  margin-right: 1.5rem;
  overflow: hidden;
  border-radius: 2px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.imageContainer:hover .image {
  transform: scale(1.1);
}

.description {
  width: 67%;
  margin-top: 1rem;
}

.description h4 {
  margin-bottom: 0.75rem;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-heading-small);
  line-height: var(--line-height-default);
  color: var(--neutral-90);
}

.description p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-medium);
  line-height: var(--line-height-default);
}

.button {
  background-color: #dfdedd;
  font-size: 14px;
  color: var(--neutral-90);
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--neutral-90);
}
