.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  padding: 2rem 1.5rem 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  margin-bottom: 0.5rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.links a {
  color: var(--color-footer-text);

  font: var(--font-weight-regular) var(--font-size-body-small) /
    var(--line-height-default) var(--font-family-default);

  position: relative;
  padding-bottom: 3px;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social a {
  color: var(--color-footer-bg);
  background-color: var(--color-footer-text);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.copyright {
  max-width: 1200px;
  margin: 1.5rem auto 0;
  padding: 0 2rem;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-caption);
  color: var(--neutral-40);
  text-align: center;
}
