.hero {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  height: 500px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 2rem 1rem;
}

.content h1 {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-heading-default);
  line-height: var(--line-height-tight);

  color: var(--color-text-primary);
  margin-bottom: 1.5rem;
}

.content p {
  font: var(--body-default);
  color: var(--color-text-secondary);
  margin-bottom: 1.5rem;
}

.button {
  font: var(--font-weight-medium) var(--font-size-body-default) /
    var(--line-height-default) var(--font-family-default);
  background-color: var(--color-primary);
  color: var(--neutral-0);
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--neutral-0);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.3;
  transition: transform 0.5s, opacity 0.3s;
}

.button:active::after {
  transform: scale(2);
  opacity: 0;
}
