@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Color System */
  /* Neutral Colors */
  --neutral-0: #ffffff;
  --neutral-1: #f0f0f0;
  --neutral-2: #fcfcfb;
  --neutral-3: #fafafa;
  --neutral-4: #f9f9f8;
  --neutral-5: #f7f7f6;
  --neutral-10: #d0d0dd;
  --neutral-20: #c6c5c3;
  --neutral-30: #aeadaa;
  --neutral-40: #969491;
  --neutral-50: #7d7b77;
  --neutral-60: #65625e;
  --neutral-70: #4d4a45;
  --neutral-80: #34312b;
  --neutral-90: #1c1812;
  --neutral-100: #000000;

  /* Tan Colors */
  --tan-lighter: #f1ece1;
  --tan-light: #e4d9c3;
  --tan-default: #ddcfb4;
  --tan-dark: #b1a690;
  --tan-darker: #857c6c;

  /* Brown Colors */
  --brown-lighter: #978f84;
  --brown-light: #74695b;
  --brown-default: #514432;
  --brown-dark: #31291e;
  --brown-darker: #201b14;

  /* Semantic Colors */
  --color-background: var(--neutral-0);
  --color-background-alt: var(--neutral-5);
  --color-text-primary: var(--neutral-90);
  --color-text-secondary: var(--brown-light);
  --color-text-tertiary: var(--neutral-60);
  --color-border: var(--neutral-10);
  --color-primary: var(--brown-default);
  --color-primary-hover: var(--brown-dark);
  --color-accent: var(--tan-default);
  --color-accent-hover: var(--tan-dark);
  --color-footer-bg: var(--neutral-90);
  --color-footer-text: var(--neutral-5);

  --font-gluten: "Gluten", cursive;

  /* Typography */
  /* Font Families */
  --font-family-default: var(--font-inter), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-tight: 112%;
  --line-height-default: 125%;
  --line-height-loose: 150%;

  /* Font Sizes */
  --font-size-heading-large: 56px;
  --font-size-heading-medium: 48px;
  --font-size-heading-default: 40px;
  --font-size-heading-small: 32px;
  --font-size-body-large: 24px;
  --font-size-body-medium: 20px;
  --font-size-body-default: 16px;
  --font-size-body-small: 14px;

  /* Accent */
  --accent: oklch(0.97 0 0);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-default);

  background-color: var(--color-background-alt);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
